#webName
{

}
/* colours
rgb(238, 122, 29)
rgb(162, 210, 232)
rgb(0, 24, 72)
rgb(192, 80, 48) */
body {
    background-color: rgb(207, 240, 255);
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(0, 24, 72);
    display: flex;
}
footer {
    background-color: rgb(0, 24, 72);
    color: rgb(238, 122, 29);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}
#Logo{
    width: 10%;
    height: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}